name: Release Automation
on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create Release Tag
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          TAG_VERSION=$(date +'v%Y.%m.%d')
          git tag $TAG_VERSION
          git push origin $TAG_VERSION